body{
    background-color: lightyellow;
}

.welcome{
background-color: lightpink;
}

#about-image{

}

.content{

}

img#about{
    max-width: 200px;
}

.Chicken{
background-color: lightskyblue;
}

.Margherita{
background-color: lavenderblush;
}

.Hawaiian{
background-color: lightsteelblue;
}

img#Chicken{
    max-height: 200px;
}

img#Margherita{
    max-height: 200px;
}

img#Hawaiian{
    max-height: 200px;
}

#pizza-selection{
    margin: 5px;
    margin-top: 15px;
    padding: 15px;
}

#finallmessage{
    display: none;
}

  #addedprice{
    display: none;
}

.tabulation{
    display: none;
   
}

.deliver{
    display: none;
}

.delivery{
    display: none;
}